h6 {
    padding: 15px;
}

h1 {
    padding: 15px;
}

button {
    padding-left: 35px;
}

input {
    margin-left: 15px;
}

p {
    margin-left: 15px;
}

h2 {
    padding: 15px;
}
table {
    border-collapse:collapse;
    padding: 15px;
    outline-offset: -15px;
    margin-left: 15px;
}
td, th {
    border:1px solid #ddd;
    padding:8px;
}