<div class='message'>
    <table>
        <tr><td>Prof</td><td>Punti</td></tr>
        <tr><td>{{ data[0][0] }} </td><td>{{ data[0][1] }}</td></tr>
        <tr><td>{{ data[1][0] }} </td><td>{{ data[1][1] }}</td></tr>
        <tr><td>{{ data[2][0] }} </td><td>{{ data[2][1] }}</td></tr>
        <tr><td>{{ data[3][0] }} </td><td>{{ data[3][1] }}</td></tr>
        <tr><td>{{ data[4][0] }} </td><td>{{ data[4][1] }}</td></tr>
        <tr><td>{{ data[5][0] }} </td><td>{{ data[5][1] }}</td></tr>
        <tr><td>{{ data[6][0] }} </td><td>{{ data[6][1] }}</td></tr>
        <tr><td>{{ data[7][0] }} </td><td>{{ data[7][1] }}</td></tr>
        <tr><td>{{ data[8][0] }} </td><td>{{ data[8][1] }}</td></tr>
        <tr><td>{{ data[9][0] }} </td><td>{{ data[9][1] }}</td></tr>
        <tr><td>{{ data[10][0] }} </td><td>{{ data[10][1] }}</td></tr>
    </table>
</div>