{% include 'navbar.html' %}
<html lang="it-it">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inserimento punti</title>
</head>
<body>
<h1>Inserimento punti</h1>
<h6>Seleziona il prof</h6>
<div>
    <form class="pure-form" method="post" action="/">
        <input type="radio" name="prof" value="Soragni"> Soragni<br>
        <input type="radio" name="prof" value="Magliani"> Magliani<br>
        <input type="radio" name="prof" value="Caroli"> Caroli<br>
        <input type="radio" name="prof" value="Domenico"> Domenico<br>
        <input type="radio" name="prof" value="Curcuruto"> Curcuruto<br>
        <input type="radio" name="prof" value="Fontana"> Fontana<br>
        <input type="radio" name="prof" value="Viani"> Viani<br>
        <input type="radio" name="prof" value="Mantovani"> Mantovani<br>
        <input type="radio" name="prof" value="Rosa"> Rosa<br>
        <input type="radio" name="prof" value="Peluso"> Peluso<br>
        <input type="radio" name="prof" value="Roberto"> Roberto<br>
    </form>
</div>

<h6>Seleziona l'azione</h6>
<div>
    <form class="pure-form" method="post" action="/">
        <p>Bonus:<br></p>
        <input type="radio" name="action" value="assenza"> Soragni<br>
        <input type="radio" name="action" value="parolaccia"> Magliani<br>
        <input type="radio" name="action" value="scriveAllaLavagna"> Caroli<br>
        <input type="radio" name="action" value="capriolaSullaCattedra"> Domenico<br>
        <input type="radio" name="action" value="maloreInClasse"> Curcuruto<br>
        <input type="radio" name="action" value="portaInGita"> Fontana<br>
        <input type="radio" name="action" value="inciampa"> Viani<br>
        <input type="radio" name="action" value="risata"> Mantovani<br>
        <input type="radio" name="action" value="mostraCapezzoli"> Rosa<br>
        <input type="radio" name="action" value="relax"> Peluso<br>
        <input type="radio" name="action" value="gergoGiovanile"> Roberto<br>
        <input type="radio" name="action" value="correzioneImmediata"> Roberto<br>
        <input type="radio" name="action" value="defecazioneInClasse"> Roberto<br>
        <input type="radio" name="action" value="complimento"> Roberto<br>
        <input type="radio" name="action" value="nonFunzionaComputer"> Roberto<br>
        <input type="radio" name="action" value="esercitazione"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>

        <!-- TODO: Sistemare nomi -->

        <p><br><br>Malus:<br></p>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="radio" name="action" value="vesteMonocromo"> Roberto<br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>